@model CalgaryHacks.Models.ViewModels.ChooseChatModel

@{
    ViewBag.Title = "ChooseChat";
}
<h2>
    Your Current Events:
</h2>

@foreach (var eventChat in Model.EventChats)
{
    var eventDescription = eventChat.Description ?? "No Description Available";

    <h3>@eventChat.Name</h3>
        <h5><span class="glyphicon glyphicon-time"></span>@String.Format("{0:f}", eventChat.EventDate) , @eventChat.Address</h5>
        <h5><span class="label label-danger">Sporting</span> <span class="label label-primary">Entertainment</span></h5>
        <br>
        <p> Description:@Html.Raw(eventDescription)</p>
        <p>More Information: <a href="@eventChat.URL"> Buy tickets Now!</a></p>

        <form action="/Home/ChooseChat" method="post">
            <input type="hidden" name="roomId" value="@eventChat.Id" />
            <button type="submit" class="btn">Chat Now</button>
        </form>
    <br>
    <br>
}

